.QualTitle {
  text-align: center;
}

.qualifiers {
  display: grid;
  justify-content: center;
  width: 100%;
}

.name {
  text-align: center;
}

.addChal, .remoChal {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2%;
}

.pics {
  display: flex;
}

.pic {
  margin-right: 5%;
}

.flag {
  width: 200px;
  height: auto;
}

.world {
  text-align: center;
}

.photo {
  width: 500px;
  height: auto;
}