body {
  background-image: url("https://i.imgur.com/5CWATZA.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 2400px 1400px;
  background-position: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(61, 61, 61);
  border-style: solid;
  border-color: #111;
}

.navlink {
  float: left;
}

.navlink a {
  display: block;
  color: rgb(202, 202, 202);
  text-align: center;
  padding: 125px 16px;
  text-decoration: none;
}

.navlink a:hover {
  background-color: #111;
}

.CharacterSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  margin-top: 10%;
  margin-left: 37%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: rgb(61, 61, 61);
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "▼";
  position: absolute;
  top: 0;
  left: 111%;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.nicepic {
  width: 400px;
  height: auto;
}

.niceflag {
  width: 150px;
  height: auto;
}

li {
  list-style: none;
}

.yesbtn {
  background-color: rgb(61, 61, 61);
  border: solid;
  border-radius: 12px;
  border-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: -25%;
}

.loginshape {
  text-align: right;
  margin-right: 3%;
  color: white;
  font-size: 11px;
}

.loginpic {
  position: absolute;
  right: 5%;
  top: 120px;
  width: 300px;
  height: auto;
}

.loginflag {
  position: absolute;
  right: 2%;
  top: 120px;
  width: 100px;
  height: auto;
}

.challenges {
  text-align: right;
  margin-right: 3%;
  color: white;
}

.contain {
  border-radius: 20px;
  padding: 30px;
}

.QualTitle {
  text-align: center;
}

.qualifiers {
  display: grid;
  justify-content: center;
  width: 100%;
}

.name {
  text-align: center;
}

.addChal, .remoChal {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2%;
}

.selfwarning {
  text-align: center;
}

.pics {
  display: flex;
}

.pic {
  margin-right: 5%;
}

.flag {
  width: 150px;
  height: auto;
  max-height: 190px;
  max-width: auto;
}

.world {
  text-align: center;
}

.photo {
  width: 500px;
  height: auto;
}

@media only screen and (max-width: 712px) {  
  .photo {
    width: 400px;
  }
}

@media only screen and (max-width: 612px) {
  .navlink a {
    padding: 30px 16px;
  }

  .loginpic {
    display: none;
  }
  
  .loginflag {
    display: none;
  }

  .photo {
    width: 300px;
  }

  .flag {
    width: 100px;
  }
}

@media only screen and (max-width: 488px) {
  .nicepic {
    width: 300px;
  }
  
  .navlink a {
    padding: 10px 16px;
  }

  .loginname {
    margin-top: 20%;
  }

  .loginpic {
    display: none;
  }
  
  .loginflag {
    display: none;
  }

  .photo {
    width: 200px;
  }

  .flag {
    width: 80px;
  }
}

@media only screen and (max-width: 360px) {
  .nicepic {
    width: 300px;
  }
  
  .navlink a {
    padding: 10px 16px;
  }

  .loginname {
    margin-top: 30%;
  }

  .loginpic {
    display: none;
  }
  
  .loginflag {
    display: none;
  }

  .photo {
    width: 200px;
  }

  .flag {
    width: 80px;
  }
}